<div class="login-wrapper">
    <h2 class="welcomeText">Welcome</h2>
    <h3 class="secondaryWelcomeText">Please Log In</h3>
    <form class="form-horizontal" role="form">
        <div class="form-group">
          <label for="inputEmail3" class="col-sm-3 control-label">
            Username</label>
          <div class="col-sm-9">
            <input type="email" class="form-control" id="inputUser" placeholder="Enter your username" required>
          </div>
        </div>
        <div class="form-group">
          <label for="inputPassword3" class="col-sm-3 control-label">
            Password</label>
          <div class="col-sm-9">
            <input type="password" class="form-control" id="inputPsw" placeholder="Password" required>
          </div>
        </div>
        <div class="form-group last">
          <div class="col-sm-offset-3 col-sm-9">
            <button type="submit" class="btn btn-success btn-sm">
              Sign in</button>
            <button type="reset" class="btn btn-default btn-sm">
              Reset</button>
          </div>
        </div>
      </form>
</div>

