@import "../public/styles.scss";

.login-wrapper{
    width:500px;
    margin: 0 auto;
    background-color: $gray;
    padding: 15px;
    .welcomeText{
        margin-left: 0.4em;
    }
    .secondaryWelcomeText{
        font-weight: $font-weight-light;
        margin-left: 0.4em;
    }
}